AppSettings:
  SiteTitle: This is the staging application file
  CacheDbResults: true
Logging: 
  IncludeScopes: false
  LogLevel: 
    Default: Debug
    System: Information
    Microsoft: Information
eureka:
  client:
    serviceUrl: https://csi-eurekaserver-qa.run.aws-usw02-pr.ice.predix.io/eureka/
    registerWithEureka: true
    fetchRegistry: true
    healthcheck:
      enabled: true
  instance:
    preferIpAddress: false
  server:
    enableSelfPreservation: false
mysql:
  client:
    server: localhost
redis:
  client:
    host: localhost
